# Simple Linear Regression

In [1]:
import numpy as np
import pandas as pd

In [2]:
salary=pd.read_csv('Salary_Data.csv')

In [3]:
salary.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [4]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [5]:
salary.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [6]:
salary.head(3)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0

In [8]:
salary.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [11]:
#seperate our data as features and labels
# 1-- features and labels must be in the form of numpy
# 2-- features and labels must be in 2D
features=salary.YearsExperience.values
labels=salary.Salary.values

In [12]:
features.shape

(30,)

In [13]:
labels.shape

(30,)

In [14]:
features=features.reshape(-1,1)

In [15]:
features.shape

(30, 1)

In [16]:
labels=labels.reshape(-1,1)

In [17]:
labels.shape

(30, 1)

# ML coding begin
# create train test split
# build the model
# check the quality of model
# if satisfied, perform deployment else go to step 2

In [25]:
# train test split


from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(features,labels,test_size=0.2,random_state=10)

In [26]:
# build the model

from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [27]:
# check the quality of model using Accuracy score
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))

0.9494673013344644
0.9816423482070253

In [28]:
# Generalized model

In [29]:
# coeff and intercept

print("The equation of line is \n salary = {} + {} (YearsExperience)".format(model.intercept_,model.coef_))

The equation of line is
 salary = [26089.09663242] + [[9356.86299354]] (YearsExperience)

In [30]:
# Deploy the model
# pre-deployment test

In [36]:
yExp=float(input("Enter year of experience: "))
predSal=model.predict(np.array([[yExp]]))
print("The salary of {} year of experience is {}".format(yExp,predSal))

Enter year of experience: 0.0
The salary of 0.0 year of experience is [[26089.09663242]]